@(formUser: Form[models.User])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main_manager("teste"){
	@form(controllers.routes.UserControl.add()){
		<input type="hidden" name="_id" value="@formUser("_id").value" />
		@inputText(formUser("firstName"), '_label -> "Nome", 'required -> true)
		@inputText(formUser("lastName"))
		@inputText(formUser("email"))
		@inputText(formUser("password"))
		@inputText(formUser("avatarURL"))

		<div class="buttons">
			<input type="submit" value="Add User"/>
		</div>
	}
}