@(frmCat: Form[(Option[String], String, String, String, String, String, String)], cats: Seq[(String,String)])(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main_manager(messages("ndt")){

    @b3.vertical.form(controllers.routes.ProductControl.addProduct) { implicit hfc =>

                <input type="hidden" name="_id" value="@frmCat("_id").value" />
                @b3.text(frmCat("prodName"), '_label -> messages("name"))
                @b3.text(frmCat("prodDesc"), '_label -> messages("description"))

                @b3.text(frmCat("prodImgSmallURL"), '_label -> messages("url.small"))
                @b3.text(frmCat("prodImgLargeURL"), '_label -> messages("url.large"))
                @b3.text(frmCat("prodCommentURL"), '_label -> messages("description"))

                @b3.select(frmCat("_idCat"), options = cats, '_label -> messages("category"), '_default -> messages("select"))

                @b3.submit('class -> "btn btn-default"){@messages("add")}

    }
}