@(galls: List[models.Gallery])(implicit request: RequestHeader, messages: Messages, flash: Flash)

@import helper._

@main_manager(messages("gallery")) {

    @if(flash.get("fail")) {
            <div class="alert alert-danger">@flash.get("fail")</div>
        }

        @if(flash.get("success")) {
            <div class="alert alert-success">@flash.get("success")</div>
        }

        <h2>@messages("gallery")</h2>
        <div class="container">
            <div class="row" style="margin-bottom: 100px;">
            @if(!galls.isEmpty){

            <div>
                <a href="@controllers.routes.GalleryControl.add" class="btn btn-default">Criar</a>
            </div>
            <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <th></th>
                        <th>@messages("name")</th>
                        <th>@messages("description")</th>
                        <th></th>
                        <th></th>
                        @for(gal <- galls){
                            <tr>
                                <td><img alt="" src="@gal.galURLSmall" class="img-rounded " style="max-width: 20%;  height: auto;"></img></td>
                                <td><p>@gal.galName</p></td>
                                <td><p>@gal.galDesc</p></td>
                                <td><a href="@controllers.routes.GalleryControl.edit(gal._id.get)">Edit</a></td>
                                <td><a href="@controllers.routes.GalleryControl.remove(gal._id.get)" onclick="return confirm('Tem certeza?');">Excluir</a></td>
                            </tr>
                        }
                    </table>
            </div>

        </div>
        }
        </div>

}