@(galls: List[models.Gallery])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main(messages("gallery")) {
    <div>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/lightbox.css")">
    </div>

    <div class="container">
    <div class="row" style="margin-bottom: 100px;">
    @if(galls.isEmpty){
        <p class="text-warning">Gallery is empty!</p>
    }

    <ul>
        @for(gal <- galls){
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                <a href="@gal.galURLLarge" data-lightbox="roadtrip">
                    <img alt="" src="@gal.galURLSmall" class="img-rounded " style="width: 80%;"></img>
                </a>
            </li>
        }
        </ul>


    </div>
    </div>



}
    <div>
        <script src="@routes.Assets.versioned("js/lightbox.min.js")"></script>
    </div>
