@(formGall: Form[models.Gallery])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main("teste"){
	@form(controllers.routes.GalleryControl.add()){
		@if(formGall("id").value != null){
				@inputText(formGall("id"))
			}
		@inputText(formGall("galName"), '_label -> "Nome", 'required -> true)
		@inputText(formGall("galDesc"))
		@inputText(formGall("galURLSmall"))
		@inputText(formGall("galURLLarge"))
		
		<div class="buttons">
			<input type="submit" value="Add Gallery"/>
		</div>
	}
}