@(galls: List[models.Gallery])

@import helper._

@main("teste") {
	@for(g <- galls){
		@g.galName
		@g.galDesc
		@g.galURLSmall
		@g.galURLLarge

                        @form(controllers.routes.GalleryControl.edit(g._id.get)){
                            <div class="buttons">
                                <input type="submit" value="Edit"/>
                            </div>
                        }
                        @form(controllers.routes.GalleryControl.remove(g._id.get)){
                            <div class="buttons">
                                <input type="submit" value="Remove"/>
                            </div>
                        }
	}
}