@(formCat: Form[models.Category])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main_manager(""){



        @form(controllers.routes.CategoryControl.add()){
                <input type="hidden" name="_id" value="@formCat("_id").value" />
                @inputText(formCat("catName"))
                @inputText(formCat("catURL"))
                @inputText(formCat("catDesc"))

                <div class="buttons">
                        <input type="submit" value="Add Category"/>
                </div>
        }

}