@(formCat: Form[models.Category])(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor


@main_manager(messages("ndt")){

        @b3.form(controllers.routes.CategoryControl.add()){
                <h2>Descrição</h2>
                <hr />
                <input type="hidden" name="_id" value="@formCat("_id").value" />
                @b3.text(formCat("catName"), '_label -> "Nome", 'class -> "form-control")
                @b3.text(formCat("catURL"), '_label -> messages("url"))
                @b3.text(formCat("catDesc"), '_label -> messages("description"), 'class -> "form-control")

                @b3.submit('class -> "btn btn-default"){@messages("add")}
        }

}