@(cats: List[models.Category])(implicit request: RequestHeader, messages: Messages, flash: Flash)

@main_manager(messages("category")){

        @if(flash.get("fail")) {
            <div class="alert alert-danger">@flash.get("fail")</div>
        }

        @if(flash.get("success")) {
            <div class="alert alert-success">@flash.get("success")</div>
        }

    @if(!cats.isEmpty){

        <div class="table-responsive">
                <table class="table table-striped table-hover">
                    @for(cat <- cats){
                        <tr>

                            <td>@cat.catName</td>
                            <td><img src="@cat.catURL" style="max-width: 15%;  height: auto;"></td>
                            <td><a href="@controllers.routes.CategoryControl.edit(cat._id.get)">Edit</a></td>
                            <td><a href="@controllers.routes.CategoryControl.remove(cat._id.get)">Remove</a></td>
                        </tr>
                    }
                </table>

                <div>
                    <div class="buttons">
                        <a href="@controllers.routes.CategoryControl.add" class="btn btn-default" onclick="return confirm('Tem certeza?');">Criar Categoria</a>
                </div>
                </div>
        </div>
    }

}