@(prods: List[models.Product])(implicit request: RequestHeader, messages: Messages)

@main(messages("ndt")) {
    <meta charset="UTF-8">

    <div class="container">
        <div class="row ">
        <div id="fail"class="alert alert-error col-6 hidden">
            <p>@messages("email.send.fail")</p>
        </div>


        <div id="success" class="alert alert-success col-6 hidden">
            <p>@messages("email.send")</p>
        </div>

        </div>
        <div class="row">
            <div class="col-md-3 pull-left">
                <fieldset>
                    <input autocomplete="off" placeholder="News Letter" id="news" name="news" type="text"
                         maxlength="60" size='65' data-toggle="tooltip" data-placement="bottom" title="Deixe o Seu Email">
                        <button type="submit" id="buttonNews" class="btn btn-primary" autocomplete="off" disabled="true">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        </button>
                    </input>
                    <div id="msgemail"></div>
                </fieldset>
            </div>
            <div class="col-md-3 pull-right">

            </div>
        </div>
    <div class="col-md-10">
        <h1>@messages("welcome")!</h1>
        <p>@messages("info.mission")</p>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-4 col-md-4">
                <section class="slider">
                <h2>Destaques.</h2>
                        <nav class="slide-nav">
                            <ul>
                                    @for(prod <- prods){
                                        <li><a href="#">.</a></li>
                                    }
                            </ul>
                        </nav>
                        <ul class="slides">
                          @for(prod <- prods){
                            <li><a href="@controllers.routes.ProductControl.detailOne(prod._id.get)"><img src="@prod.prodImgSmallURL" alt="@prod.prodName" class="img-rounded"></a></li>
                          }
                          </ul>
                </section>
        </div>
        <div class="col-md-4">
            <h2>@messages("products")</h2>
            <p><img src="@routes.Assets.versioned("img/icons/cake_1.png")" style="float: left;" class="img-rounded"/>
            @messages("info.ingredient")
            </p>

        </div>
        <div class="col-md-4">
            <h2>@messages("clients")</h2>
            <p><img src="@routes.Assets.versioned("img/icons/customer.png")" style="float: left;" class="img-rounded"/>
            @messages("info.clients")
            </p>

        </div>
    </div>
    <hr>
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-12">
                <h2>@messages("tips")</h2>
                <p>@messages("info.tips")</p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                      Dicas de Culinária
                    </button>
                </p>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Ainda não</h3>
          </div>
          <div class="modal-body">
                <p>@messages("info.modal")<b>News Letter<b>.</p>
                <cite>Nilda - Doce & Tentação</cite>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src='@routes.ContactControl.javascriptRoutes'></script>
}
